name: Streamlit Keep Alive

on:
  schedule:
    # Har kuni 1 marta yoki har 6 soatda kirib turadi
    - cron: '0 */6 * * *'
  workflow_dispatch: # O'zingiz ham xohlaganda yurgizishingiz uchun

jobs:
  ping_streamlit:
    runs-on: ubuntu-latest
    steps:
      - name: Open Streamlit App
        run: curl -s https://longmanhzj.streamlit.app/ > /dev/null
        
